---
layout: default
stylesheets:
  - /css/index.css
---

<main>
  <c-layout>
    {{ content }}
    <div class="movies-title">
      <h2>Movies</h2>
      <p>What I've been watching</p>
    </div>
    <c-layout-item type="full">
      <c-poster-list class="poster-carousel">
        {% for poster in letterboxd.recentlyWatched %}
          <c-poster src="{{ poster.src }}" alt="{{ poster.alt }}" url="{{ poster.url }}"></c-poster>
        {% endfor %}
      </c-poster-list>
    </c-layout-item>
  </c-layout>
</main>
