html {
  box-sizing: border-box;
}

html *, html *::before, html *::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

web-application {
  flex: 1;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Medium.ttf');
}


body {
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
  margin: 0;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
}