<nav class="MainNav">
  <div>
    <a href="/" class="NavLink">Home</a>
  </div>

  <div>
    <a href="https://twitter.com/modfox" class="NavLink">Twitter</a>
    <a href="https://github.com/WillsonSmith" class="NavLink">Github</a>
  </div>
</nav>