@import '../../shared/css/main.css';

page-header {
  --border-width: 0;
  --background: var(--sl-color-neutral-50);
  box-shadow: 0 4px 0 0 var(--sl-color-neutral-0), var(--sl-shadow-x-large);
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  z-index: 1;

}

body {
  position: relative;
  background: var(--sl-color-neutral-50);
  font-size: var(--sl-font-size-large);
}

main {
  position: relative;

  padding: var(--sl-spacing-medium);
  padding-top: 100px;
  margin: 0 auto;  

  max-width: calc(60ch + var(--sl-spacing-medium));

  line-height: var(--sl-line-height-dense);
  text-shadow: 1px 1px var(--sl-color-neutral-0), 2px 2px var(--sl-color-neutral-0);
}

.background-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

yz-block-card {
  --yz-block-card-background: var(--sl-color-neutral-200);
  --yz-shadow-color: var(--sl-color-neutral-0);
}

yz-block-card:nth-child(even) {
  --skew: -3deg;
}
yz-block-card:nth-child(odd) {
  --skew: 3deg;
}

.about-me p {
  margin: 0;
}

.about-me-avatar {
  --size: 100px;
  width: 100px;
  height: 100px;
}

.about-me-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--sl-spacing-large);
}
@media (min-width: 400px) {
  .about-me-content {
    grid-template-columns: auto 1fr;
  }
}

.about-me-details {
  display: grid;
  grid-gap: var(--sl-spacing-3x-small);
}


.about-me-name {
  font-size: var(--sl-font-size-x-large);
}

.about-me-location {
  font-size: var(--sl-font-size-small);
}

.feature-project {
  display: grid;
  grid-gap: var(--sl-spacing-small);
}
.feature-project p {
  margin: 0;
}
.feature-project p + p {
  margin-top: var(--sl-spacing-3x-small);
}

.feature-project-header {
  margin: 0;
  font-size: var(--sl-font-size-x-large);
  font-weight: var(--sl-font-weight-normal);
}

.feature-project-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: var(--sl-spacing-small);
}

.feature-project-link {
  background: var(--sl-color-neutral-200);
  color: var(--sl-color-neutral-900);
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);

  text-decoration: underline;
  text-underline-offset: var(--sl-spacing-3x-small);
}

.feature-project-link-icon {
  font-size: var(--sl-font-size-x-small);
  margin-left: var(--sl-spacing-2x-small);
  transform: translateY(-50%);
}