@import '../../shared/css/main.css';

page-header {
  --border-width: 0;
  --background: transparent;
  -webkit-backdrop-filter: blur(6px) brightness(0.5);
  backdrop-filter: blur(6px) brightness(0.5);
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  z-index: 1;

  box-shadow: var(--sl-shadow-medium);
}

body {
  position: relative;
  font-size: var(--sl-font-size-large);
  text-shadow: 2px 2px var(--sl-color-neutral-0);
}

main {
  position: relative;
  padding: var(--sl-spacing-medium);
  padding-top: 100px;
  line-height: var(--sl-line-height-dense);

  max-width: calc(60ch + var(--sl-spacing-medium));
  margin: 0 auto;
}

.background-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--sl-spacing-medium);
}

@media (min-width: 400) {
  .title {
    padding-left: 0;
  }
}

.title h2 {
  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-semibold);
  font-size: var(--sl-font-size-x-large);
  margin: 0;
}

.aboot {
  background: var(--sl-color-neutral-200);
  transform: skew(2deg);
  margin-bottom: var(--sl-spacing-3x-small);
  border-radius: var(--sl-border-radius-small);
  padding: var(--sl-font-size-2x-large);
}

.aboot > * {
  transform: skew(-2deg);
}


.aboot sl-avatar {
  --size: 100px;
  width: 100px;
  height: 100px;
}

.aboot p {
  margin: 0;
}

.aboot p:first-child {
  font-size: var(--sl-font-size-x-large);
}

.aboot__location {
  font-size: var(--sl-font-size-small);
}

.aboot__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--sl-spacing-large);
}

@media (min-width: 400px) {
  .aboot__content {
    grid-template-columns: auto 1fr;
  }
}

.aboot__details {
  display: flex;
  flex-direction: column;
  padding: var(--sl-spacing-small) 0;
}

.feature {
  background: var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-small);
  padding: var(--sl-spacing-large) var(--sl-spacing-large);

  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

.feature:nth-child(even) {
  transform: skew(-3deg);
}

.feature:nth-child(even) > * {
  transform: skew(3deg);
}

.feature:nth-child(odd) {
  transform: skew(3deg);
}

.feature:nth-child(odd) > * {
  transform: skew(-3deg);
}

.feature + .feature {
  margin-top: var(--sl-spacing-3x-small);
}

@media (min-width: 400px) {
  .feature {
    border-radius: var(--sl-border-radius-small);
  }
}

.feature h3, .feature p {
  margin: 0;
}

.feature h3 {
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-normal);
}

.feature p {
  margin-top: var(--sl-spacing-medium);
}

.feature footer {
  margin-top: var(--sl-spacing-medium);
  padding-top: var(--sl-spacing-small);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feature__link {
  color: var(--sl-color-neutral-900);
  text-decoration: underline;
  text-underline-offset: var(--sl-spacing-3x-small);
  background: var(--sl-color-neutral-200);
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
}

.feature__link sl-icon {
  font-size: var(--sl-font-size-x-small);
  margin-left: var(--sl-spacing-2x-small);
  transform: translateY(-50%);
}
