ul {
  margin: 0;
  padding: 0;

  margin-top: var(--c-spacing-xs);
  padding-left: var(--c-spacing-m);
}
p {
  margin: 0;
}

body {
  background: var(--theme-color-white);
  /* background: var(--theme-color-orange-yellow); */
}

.highlight {
  background: var(--theme-color-black);
  color: var(--theme-color-white);
}

.about-content {
  display: grid;
  padding: var(--c-spacing-m) 0;
}

.name {
  line-height: 0.75;
}

.sh-link {
  color: var(--theme-color-black);
}

.shopify-link {
  /* grid-area: sh; */
}

.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.about-content p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}

.about-content p:nth-child(2) {
  font-size: 1.5rem;
}

.page-heading {
  position: sticky;
  top: -350px;
  z-index: 0;
}

film-strip {
  transform: translateZ(0);
}

.page-content {
  color: var(--theme-color-white);
  position: relative;
  z-index: 1;
  transform: translateZ(0);
}

.poster-carousel {
  --container-padding: var(--c-spacing-m) 0;
}

.project-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  gap: var(--c-spacing-m);
  padding: var(--c-spacing-m);
  overflow-x: scroll;

  box-sizing: border-box;
}

.project {
  color: #fff;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  max-width: 25rem;
  aspect-ratio: 16 / 9;
  flex: 1 0 95%;

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium: 0.1px 0.3px 0.3px hsl(var(--shadow-color) / 0.35),
    0.2px 0.6px 0.7px -0.7px hsl(var(--shadow-color) / 0.32),
    0.5px 1.2px 1.4px -1.5px hsl(var(--shadow-color) / 0.3),
    1px 2.6px 2.9px -2.2px hsl(var(--shadow-color) / 0.28),
    1.9px 5.1px 5.7px -3px hsl(var(--shadow-color) / 0.25);

  /* box-shadow: var(--shadow-elevation-medium); */
}

.project a {
  color: #fff;
}

.project-hero {
  display: flex;
}

.project-hero picture {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  background: linear-gradient(to bottom, transparent, black);
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--c-spacing-m);
}
