/* fonts */
@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/fredoka-one/fredokaone-regular-webfont.woff2')
      format('woff2'),
    url('../fonts/fredoka-one/FredokaOne-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-Regular.ttf');
  font-display: swap;
}

/* NameDrop animations */
@keyframes drop {
  0% {
    transform: scale(2);
  }

  70% {
    transform: scale(1);
  }

  85% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

[data-color-scheme-override='light'] {
  --background-color: var(--light-mode-background);
  --text-color: var(--light-mode-text-color);
  --link-color: var(--light-mode-link-color);
}

[data-color-scheme-override='dark'] {
  --background-color: var(--dark-mode-background);
  --text-color: var(--dark-mode-text-color);
  --link-color: var(--dark-mode-link-color);
}

/* styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: var(--raleway-font);

  margin: 0 1rem;
}

.MainNav {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;

  font-family: var(--fredoka-font);
  font-size: 1.5rem;
}

.NavLink {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
}

.NavLink::after {
  content: '';
  background: var(--link-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.3rem;

  height: 0.3rem;
  border-radius: 3px;
}

.NavLink + .NavLink {
  margin-left: 1rem;
}

main {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 5vmin;
}

.Intro {
  font-size: 1.5rem;
}

.NameDrop {
  margin: 0;

  font-size: 2.5rem;
  font-family: var(--fredoka-font);
}

@media (min-width: 500px) {
  .NameDrop {
    font-size: 3rem;
  }
}

.NameDrop-color {
  display: inline-block;
  animation: var(--name-drop-animation);
}

.NameDrop-color > span:nth-child(1) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-red);
}

.NameDrop-color > span:nth-child(2) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-orange);
}

.NameDrop-color > span:nth-child(3) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-yellow);
}

.NameDrop-color > span:nth-child(4) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-green);
}

.NameDrop-color > span:nth-child(5) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-blue);
}

.NameDrop-color > span:nth-child(6) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-indigo);
}

.NameDrop-color > span:nth-child(7) {
  text-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--color-violet);
}

/* utilities & helpers */

.visibly-hidden {
  position: absolute;
  top: auto;
  left: -10000px;

  width: 1px;
  height: 1px;

  overflow: hidden;
}
