---
layout: home.njk
title: Willson Smith
---

<div class="NameDropContainer">
  <h1 class="NameDrop">
    <span aria-hidden="true" class="NameDrop-color">
      <span>W</span>
      <span>i</span>
      <span>l</span>
      <span>l</span>
      <span>s</span>
      <span>o</span>
      <span>n</span>
    </span>
    <span class="visibly-hidden">Willson</span>
  </h1>
</div>