---
layout: home.njk
title: Willson Smith
---

  <div class="Intro">
    <h1 class="NameDrop">
      <span>I'm</span>
      <span aria-hidden="true" class="NameDrop-color">
        <span>W</span>
        <span>i</span>
        <span>l</span>
        <span>l</span>
        <span>s</span>
        <span>o</span>
        <span>n</span>
      </span>
      <span class="visibly-hidden">Willson</span>
      <span>, UX Developer at Shopify.</span>
    </h1>
    <p>Building performant, high quality, interactive user experiences for the web. </p>
  </div>